{% extends 'base.html' %} 
{% load static %}    
{% block title %}About Us{% endblock title %}       

{% block content %}
 <div class="class= min-vh-100">
      <div class="container-fluid my-0 px-0 mb-3">
        <img
          src="{% static 'images/about-us.jpg' %}"
          height="550"
          class="d-block w-100"
          alt="..."
          style="object-fit: cover"
        />
      </div>
      <div class="" style="margin-inline: 80px">
        <h3 class="mt-5 mb-4"><i>About Us</i></h3>
        <h5><i>Who We Are</i></h5>
        <p>Our Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks,
           by home cooks. Helping create “kitchen wins” is what we’re all about.Today, Our Recipes has grown into a trusted resource for home 
           cooks drawing over 15 million readers each month from around the world. We’re supported by a diverse group of recipe developers, 
          food writers, recipe and product testers, photographers, and other creative professionals.
        </p>
        <br>
        <h5><i>Recipe Development & Testing</i></h5>
        <p>Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other 
          prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, 
          lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
        </p>
        <p>There are three things we think about when deciding if a recipe is good enough to go on Simply Recipes:</p>

        <p><b>First, does it work?</b> Recipes need to be easy to follow and provide reliable results, every time.</p>
        <p><b>Second, is it delicious?</b> Does the dish make us smile inside and out? Do we want to eat the whole batch by ourselves? </p>
        <p><b>Third, is it worth the effort?</b> Do we want to make it again (and again and again)?</p>
        <p>To make sure each of these standards is met, we start by working with expert recipe developers  — people with the experience 
          and knowledge to not only develop a good recipe in their own kitchens, but to make sure that recipe works in yours. Next, we thoroughly 
          review and edit every recipe in-house line by line. Finally, each new recipe is run by our team of recipe testers working in home kitchens 
          with the same pots, pans, and tools that you use in yours. Only after all this is the recipe shared on our website.
        </p>
        <br>

        <h5><i>Comments</i></h5>
        <p>We review and approve every comment left on the site, and generally respond to questions within 1 to 3 days. When leaving comments, we ask 
          that you think of our Recipes as our home. Constructive feedback is always welcome, but rude, mean, disrespectful, or spammy comments are 
          not welcome and will not be approved.
        </p>
        <br>

        <h5><i>Share the magic of Food</i></h5>
        <p>
           There are a collection of favourite recipes from chefs for our users from all over the world. If you're food lover and look to try something 
           new then don't hesitate. Click the recipe and show your creativity to your loved ones. <br>
          If you are inspired by other chefs that already have a recipe on this website and want to follow their stride? 
          Don't wait, contact us, sign up as a chef and start sharing your magic with the world!<br />
        </p>
        <br />
      </div>
    </div>
{% endblock content %}