{% extends 'base.html' %} 
{% load static %}    
{% block title %}Contact Us{% endblock title %}       
{% block content %} 

 <div class="class= min-vh-100">
      <div class="container-fluid my-0 px-0 mb-3">
        <img
          src="{% static 'images/contact-us.jpg' %}"  
          height="550"
          class="d-block w-100"
          alt="..."
          style="object-fit: cover"
        />
      </div>
      <div class="container">
        <h2 class="text-center"><i>Contact Us</i></h2>
        <form class="mx-4" method="post" action="">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="email@gmail.com"
              required
            />
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone (Optional)</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="Phone"
            />
          </div>

          <div class="mb-3">
            <label for="desc" class="form-label">Message</label>
            <textarea
              class="form-control"
              id="desc"
              name="desc"
              rows="3"
              placeholder="Write your message here.."
              required
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
{% endblock content%}

